@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-semibold text-4xl;
  }

  h2 {
    @apply font-semibold text-2xl;
  }

  h3 {
    @apply font-semibold text-base;
  }

  body {
    @apply text-gray-900;
    font-family: Montserrat, serif;
  }
}

@layer utilities {
  .body-title {
    @apply font-semibold uppercase text-xs;
  }

  .body-xl {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -1.5%;
  }

  .body-l {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -1.5%;
  }

  .body-m {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -1.5%;
  }

  .body-s {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -1.5%;
  }
}
