@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply font-semibold text-2xl;
  }

  h3 {
    @apply font-semibold text-base;
  }

  body {
    @apply text-gray-900;
    font-family: Montserrat, serif;
  }
}

@layer utilities {
  .font-title {
    @apply font-semibold uppercase text-xs;
  }

  .body-l {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -1.5%;
    /* @apply text-lg; */
  }

  .body-m {
    font-size: 16px;
    line-height: 28px;
    /* @apply text-base; */
  }

  .body-s {
    font-size: 14px;
    line-height: 22px;
    /* @apply text-sm; */
  }
}
